div.container {
   
   
    background-color: efeee7;
    text-align: center;
    margin: 0 auto
}


body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;

}
header { 
    background-color: #333333
}

h1 { 
    background-color: 333333;
    font-color: #eee;
    font-size: 28px;
    margin: 0
}
h2 { 
    font-size: 24px;
}

#main-bio
#contact-info
#bio-image { 
    float: left;
}

.container {
    width: 1024px;
    margin: 0 auto;
    align-content: center;
}

#main-bio {
    width: 70%;

}

#contact-info {
    width: 30%; 
}

#bio-image {
    width: 200px;
    margin: 20px;

}

#